.idea
.vscode
logs
temp
node_modules

/dist
/build
/icons
/releases
/dll

!resources/build
/widgets/.cache
/widgets/public

yarn-error.log

main.js
server.js
bridge.js
context.js
*.js.map
*.LICENSE.txt
webpack-stats.json

.DS_Store
undefined/

/password*.json
/*.provisionprofile
